<h1> <a href="/urls">Header of TinyApp</a></h1>

<!-- <% if (!username) { %> -->
  <form 
    method="POST" 
    action="/urls/login">
    <label for="username">Enter username: </label>
    <input 
      type="text" 
      name="username" 
      placeholder="John Doe" 
      onfocus="this.placeholder=''" 
      onblur="this.placeholder='John Doe'"
      autocomplete="off"
      required
    >
    <input 
      type="submit" 
      value="Login"
    >
  </form>
<!--  <% }; %> -->