<h1>
  <a href="/urls">Welcome to TinyApp!</a>
</h1>

<!-- if no user is logged in show register and login buttons  -->
<% if (!user) { %>
<!-- register button -->
<button 
  name="register" 
  value="Register" 
  onclick="location.href='/register'"
> Register 
</button>

<!-- Login button -->
<button 
  name="Login" 
  value="Login" 
  onclick="location.href='/login'"
> Login 
</button>

<!-- if user is logged in show logout button -->
<% } else  { %>
  <!-- Logout button -->
  <h2>Hello <%= user["email"] %></h2>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
  <% } %>