<!DOCTYPE html>
<html>

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <h3>Register Page</h3>
      <form method="POST" action="/register" style="margin:50px">
        <div>
            <label for="user">Enter e-mail: </label>
            <input type="email" name="email" placeholder="ie: john@domain.com" onfocus="this.placeholder=''" onblur="this.placeholder='ie: john@domain.com'"
              autocomplete="off" >
        </div>
        <br>
        <div>
            <label for="email">Enter password: </label>
            <input type="password" name="password" autocomplete="off" >
        <br>
        <div>
        <br>
          <input type="submit" name="Submit">
        </div>
      </form>
  </header>
</body>
</html>