<!DOCTYPE html>
<html>

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <h3>Login Page</h3>
  <% if (!user) { %>
    <form method="POST" action="/login" style="margin:50px">
      <div>
        <label for="email">Enter E-mail: </label>
        <input type="text" name="email" placeholder="ie: john@domain.com" onfocus="this.placeholder=''" onblur="this.placeholder='ie: john@domail.com'"
          autocomplete="off" >
      </div>
      <br>
      <div>
        <label for="email">Enter password: </label>
        <input type="password" name="password" autocomplete="off" >
      </div>
      <br>
      <div>
        <input type="submit" value="Login">
      </div>

    </form>

    <% } else  { %>

      <h3>Hello
        <%= user %>!
      </h3>
      <form method="POST" action="/logout">
        <input type="submit" value="Logout">
      </form>
      <% } %>
</body>
</html>