<!DOCTYPE html>
<html>

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include partials/_header %>
      <form method="POST" action="/urls/register" style="margin:50px">
        <div> </div><label for="email">E-mail: </label> </div> 
        <div><input width="100%" type="email" name="email" autocomplete="off"   id="email"></div>
        <!-- <br> -->
        <div><label for="password">Password: </label></div>
        <div><input type="password" name="password"  id="password"></div>
        <br>
        <div>
          <input type="submit" name="Submit">
        </div>
      </form>
  </header>
</body>

</html>