<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title></title> -->
</head>
<body>
<header> <% include partials/_header %></header>


<h1> Short URL: <%= shortURL %> </h1>
<form method="POST" action="/urls/shortURL">
  <input type="text" name="longURL" placeholder="<%= longURL %>" >
  <input type="hidden" name="shortURL" value="<%= shortURL %>">
  <input type="submit" value="Update">
</form>

</body>
</html>